<div data-role="page" id="page2" style="display: none" class="formbackground">
    <div class="lefthalf">
    </div>
    <div class="righthalf" style="margin-top: 50px">
        <div class="header2 center">
            Edit hike Details
        </div>
        @Html.Partial("NewHikeForm")
    </div>
</div>