<div data-role="page" id="page1">
    <div class="hikeslefthalf">
        <h1 class="header3 center">Completed</h1>
        <table class="tbl" align="center" cellpadding="10">
            <tr>
                <th class="boldlead">
                    Hike Name
                </th>
                <th class="boldlead">
                    Date
                </th>
            </tr>
            <tr>
                <td class="smalllead" style="padding-bottom: 20px">
                    Hike Name 1
                </td>
                <td class="smalllead" style="padding-bottom: 20px">
                    12/13/15
                </td>
            </tr>
        </table>
    </div>
    <div class="hikesrighthalf">
        <h1 class="header3 center">Upcoming</h1>
        <table class="tbl" align="center" cellpadding="10">
            <tr>
                <th class="boldlead">
                    Hike Name
                </th>
                <th class="boldlead">
                    Notify Email1
                </th>
                <th class="boldlead">
                    Notify Email2
                </th>
                <th class="boldlead">
                    Start Time
                </th>
                <th class="boldlead">
                    End Time
                </th>
                <th class="boldlead">
                    Notify Time
                </th>
                <th></th>
            </tr>
            <tr>
                <td style="padding-bottom: 20px" class="smalllead">
                    Name
                </td>
                <td style="padding-bottom: 20px" class="smalllead">
                    vidyasindhu.n@gmail.com
                </td>
                <td style="padding-bottom: 20px" class="smalllead">
                    vidyasindhu.n@gmail.com
                </td>
                <td style="padding-bottom: 20px" class="smalllead">
                    21/03/15 17:00
                </td>
                <td style="padding-bottom: 20px" class="smalllead">
                    21/03/15 17:00
                </td>
                <td style="padding-bottom: 20px" class="smalllead">
                    21/03/15 17:00
                </td>
                <td style="padding-bottom: 20px" smalllead="lead">
                    <a class="mousepointer" onclick="showpage('page2')">
                        Edit
                    </a>
                    &nbsp; &nbsp;
                    @*                    TODO: Add pop up later*@
                    @*                    <button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#editHike">Edit</button>*@
                    <input type="image" src="~/Images/trash.png" />
                </td>
            </tr>
        </table>
    </div>
</div>