<div data-role="page" id="page3" style="display: none">
    <div class="tophalf">
        <h1 class="header1 center">SafeHiker</h1>
    </div>
    <div class="bottomhalf">
        <p class="lead">
            Hello @Model.Name
            <br />
            Add a new hike.
        </p>
        <div class="center">
            <a class="button" onclick="showpage('page5')">START</a>
        </div>
    </div>
</div>