<div data-role="page" id="page2" style="display: none">
    <div class="tophalf">
        <h1 class="header1 center">SafeHiker</h1>
    </div>
    <div class="bottomhalf">
        <p class="lead">
            Hello @Model.Name
            <br />
            Add your name and emergency contacts to start using the service.
        </p>
        <div class="center">
            <a class="button" onclick="showpage('page4')">START</a>
        </div>
    </div>
</div>