<div data-role="page" id="page4" style="display: none" class="formbackground">
    <div class="lefthalf">
    </div>
    <div class="righthalf" style="top: 50px">
        <div class="header2 center">
            Enter your details
        </div>
        <form class="centerbox">
            <table align="left" cellpadding="10">
                <tr>
                    <td colspan="2" style="padding-bottom: 20px" class="lead">
                        Name
                    </td>
                    <td colspan="2" style="padding-bottom: 20px">
                        <input type="text" data-bind="value: UserData.name" size="40%">
                    </td>
                </tr>

                <tr>
                    <td colspan="2" style="padding-bottom: 20px" class="lead">
                        Emergency email 1
                    </td>
                    <td colspan="2" style="padding-bottom: 20px">
                        <input type="email" placeholder="my@email.com" data-bind="value: UserData.emergencyEmail1" size="40%">
                    </td>
                </tr>

                <tr>
                    <td colspan="2" style="padding-bottom: 20px" class="lead">
                        Emergency email 2
                    </td>
                    <td colspan="2" style="padding-bottom: 20px">
                        <input type="email" placeholder="my@email.com" data-bind="value: UserData.emergencyEmail2" size="40%">
                    </td>
                </tr>

                <tr>
                    <td align="center" colspan="2">
                        <a class="button" onclick="addUserDetails()">
                            Submit
                        </a>
                    </td>
                    <td align="center" colspan="2">
                        <a class="button" onclick="clearUserData()">
                            Clear
                        </a>
                    </td>
                </tr>
            </table>
        </form>
    </div>
</div>