<div data-role="page" id="page1" style="display: none">
    <div class="tophalf">
        <h1 class="header1 center">SafeHiker</h1>
    </div>
    <div class="bottomhalf">
        <p class="lead">
            Hello @Model.Name
        </p>
        <span data-bind="text: ErrorMessage"></span>
    </div>
</div>