@Styles.Render("~/Content/jquery.datetimepicker.css")
@Scripts.Render("~/bundles/myBundle")
@using SafeHikerWebsite.Models
@{
    ViewBag.Title = "Home Page";
}
@model User

<input type="hidden" id="userEmail" value="@HttpContext.Current.User.Identity.Name">

<div data-role="page" id="pageone">
    Welcome
</div>

<div data-role="page" id="pagetwo">
    <div class="tophalf">
        <h1 class="header1 center">SafeHiker</h1>
    </div>
    <div class="bottomhalf">
        <p class="lead">
            Hello @Model.Name
            <br />
            Add your name and emergency contacts to start using the service.
        </p>
        <div class="center">
            <a class="button" href="#pagefour" data-transition="fade" onclick="showpage('pagefour')">START</a>
        </div>
    </div>
</div>

<div data-role="page" id="pagethree">
    <div class="tophalf">
        <h1 class="header1 center">SafeHiker</h1>
    </div>
    <div class="bottomhalf">
        <p class="lead">
            Hello @Model.Name
            <br />
            Add a new hike.
        </p>
        <div class="center">
            <a class="button" href="#pagefive" data-transition="fade" onclick="showpage('pagefive')">START</a>
        </div>
    </div>
</div>

<div data-role="page" id="pagefour" style="display: none" class="formbackground">
    <div class="lefthalf">
    </div>
    <div class="righthalf" style="margin-top: 50px">
        <div class="header2 center">
            Enter details
        </div>
        <form class="centerbox">
            <table align="left" cellpadding="20">
                <tr>
                    <td colspan="2" style="padding-bottom: 20px" class="lead">Name</td>
                    <td colspan="2" style="padding-bottom: 20px"><input type="text" name="hikename" size="40%"></td>
                </tr>

                <tr>
                    <td colspan="2" style="padding-bottom: 20px" class="lead">Emergency email 1</td>
                    <td colspan="2" style="padding-bottom: 20px"><input type="email" placeholder="my@email.com" name="emergencyemail1" size="40%"></td>
                </tr>

                <tr>
                    <td colspan="2" style="padding-bottom: 20px" class="lead">Emergency email 2</td>
                    <td colspan="2" style="padding-bottom: 20px"><input type="email" placeholder="my@email.com" name="emergencyemail2" size="40%"></td>
                </tr>

                <tr>
                    <td align="center" colspan="2">
                        <a class="button" href="#pagethree" data-transition="fade" onclick="showpage('pagethree')">Submit</a>
                    </td>
                </tr>
            </table>
        </form>
    </div>
</div>

<div data-role="page" id="pagefive" style="display: none" class="formbackground">
    <div class="lefthalf">
    </div>
    <div class="righthalf" style="margin-top: 50px">
        <div class="header2 center">
            Enter Details
        </div>
        <form class="centerbox">
            <table align="left" cellpadding="10">
                <tr>
                    <td colspan="2" style="padding-bottom: 20px" class="lead">Hike Name</td>
                    <td colspan="2" style="padding-bottom: 20px"><input type="text" name="hikename" size="40%"></td>
                </tr>

                <tr>
                    <td colspan="2" style="padding-bottom: 20px" class="lead">Emergency email 1</td>
                    <td colspan="2" style="padding-bottom: 20px"><input type="email" placeholder="my@email.com" name="emergencyemail1" size="40%"></td>
                </tr>
                <tr>
                    <td colspan="2" style="padding-bottom: 20px" class="lead">Emergency email 2</td>
                    <td colspan="2" style="padding-bottom: 20px"><input type="email" placeholder="my@email.com" name="emergencyemail2" size="40%"></td>
                </tr>

                <tr>
                    <td colspan="2" class="lead" style="padding-bottom: 20px">
                        <span>Start date and time</span><br />
                    </td>
                    <td><input class="datetime" id="startdatetime" /></td>
                </tr>

                <tr>
                    <td colspan="2" class="lead" style="padding-bottom: 20px">
                        <span>End date and time</span><br />
                    </td>
                    <td><input class="datetime" id="enddatetime" /></td>
                </tr>

                <tr>
                    <td colspan="2" class="lead" style="padding-bottom: 20px">
                        <span>Alert Contacts date and time</span><br />
                    </td>
                    <td><input class="datetime" id="alertdatetime" /></td>
                </tr>

                <tr>
                    <td align="center" colspan="2"><a class="button" href="#pagethree" data-transition="fade" onclick="showpage('pagethree')">Save</a></td>
                    <td align="center" colspan="2"><a class="button" href="#pagefive" data-transition="fade" onclick="showpage('pagefive')">Clear</a></td>
                </tr>
            </table>
        </form>
    </div>
</div>