@{
    ViewBag.Title = "Home Page";
}

<div class="tophalf">
    <h1 class="header1 center">SafeHikerWebsite</h1>
</div>
<div class="bottomhalf">
    <p class="lead">Please login to use the service.</p>
</div>