@{
    ViewBag.Title = "SafeHiker";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>This application stores the details of your hike plan and notifies added emergency contacts by email at the date and time chosen by you. This application is not a personal beacon but can alert a contact who can then call for help. This application will save you from sending someone your plans each and every time. It will only alert them when it is required.</p>